#title{
	color: grey;
	font-weight: bold;
	font-family: monospace;
	padding-right: 1%;
}

.subtitle{
	color: #28a9ff;
	font-weight: bold;
	font-family: monospace;
	padding-left:1%;
	padding-right:1%;
	margin-right:65%;
}

#title, .subtitle{
	background-color: shadow;
	box-shadow: 5px 5px 20px 5px black;
	min-width:min-content;
	max-width:max-content;
}

.post_title{
	font-size: 16px;
	font-style: italic;
	font-family: monospace;
	color: #000;
	padding-left: 10px;
}

.post{
	background: grey;
	padding-left: 20px;
	padding-right: 20px;
	border: 3px dotted #000;
	margin: 10px;
	border-radius: 50px;
	box-shadow: 2px 5px 20px 5px black;
	width:45%;
	max-width:max-content;
	min-width:min-content;
}

#autor{
	border: 2px solid #000;
	border-top: 2px dashed #00264d;
	border-right: 2px dashed #00264d;
	box-shadow: 2px 5px 20px 5px black;
	border-radius: 50px;
	margin: 15px 0px 0px 20px;
}

body {
	background-image: url("imagens/htmlcode1.png");
	background-position: center;
	margin:auto;
	font
}

p{
	font-family: monospace;
}

#post1{
	font-weight: bold;
	font-size: 16px;
	text-indent: 20px;
	text-align:justify;
}

/*footer:*/

.title_contact{
	color: #000;
	font-weight: bold;
	font-family: monospace;
	font-size: 18px;
	padding-left: 15px;
}

#contact{
	list-style-type: none;
	padding-left: 15px;
	padding-right:15px;
	text-decoration: none;
}

#post_contact{
	background: grey;
	border: 3px groove black;
	margin: 10px;
	max-width: max-content;
	min-width: min-content;
}

